/* Existing .left-nav styles */
.left-nav {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #f8f9fa;
  padding: 20px;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.left-nav ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}
.left-nav li {
  margin-bottom: 15px;
  text-align: center;
  font-size: larger;
  font-weight: bold;

}
.left-nav a {
  text-decoration: none;
  color: #000000;
}
.left-nav a:hover {
  color: #929292;
}
.left-nav a.active {
  color: #929292;
}

@media screen and (max-height: 450px) {
  .left-nav {
    padding-top: 15px;
  }
  .left-nav a {
    font-size: 18px;
  }
}